<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}
 

  <div id="content">
 {{ with .Params.featured_image }}
  {{$fi := add ($.Site.Params.imagedir | default "img") . }}
  <img src="{{$fi | relURL}}" alt="{{$.Params.image_alt | default "Healthcareguy"}}">
  {{ end }}
   {{ .Content }} 

   <form method="POST" action="https://api.staticman.net/v2/entry/githubvinod/devlhealthcareguy/master">
  <input name="options[redirect]" type="hidden" value="http://devlhealthcareguy.netlify.com">
  
  <input name="options[slug]" type="hidden" value="">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>
  
  <button type="submit">Go!</button>
</form>
   
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
