<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}
 

  <div id="content">
 {{ with .Params.featured_image }}
  {{$fi := add ($.Site.Params.imagedir | default "img") . }}
  <img src="{{$fi | relURL}}" alt="{{$.Params.image_alt | default "Healthcareguy"}}">
  {{ end }}
   {{ .Content }} 

   <form method="POST" action="https://api.staticman.net/v2/entry/githubvinod/devlhealthcareguy/master">
  <fieldset>
    <legend>Leave a reply</legend>
    <div class="font-small">
      <p>Your email is only used for the purpose of displaying an Avatar and is encrypted to protect your privacy</p>
    </div>
    
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="good">
    <div>
      <label for="message">Comment (required)</label>
      <textarea id="message" name="fields[message]" placeholder="Please type your feedback here" required></textarea>
    </div>
    <div>
      <label for="name">Name</label>
      <input id="name" name="fields[name]" type="text">
    </div>
    <div>
      <label for="email">E-mail (required)</label>
      <input id="email" name="fields[email]" type="email" placeholder="enter your email" required>
    </div>
  </fieldset>
  <button type="submit">Add comment</button>
</form>
   
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
